---
title: Artikel
excerpt: >
  Artikel seit 2012 von (und mit) Dr. Gernot Starke
  <br/> <font size="3"> Die Artikel sind auch mit<a href="/artikelNachTags/"> Schlüsselworten</a> markiert. </font>
layout: single_with_counter
permalink: /artikel/
header:
  overlay_image: /images/header/site-header-flat.png
sidebar:
  nav: "articles"
---

{% assign articles = site.articles | sort: 'date2' | reverse %}

{% assign date = 0 %}
{% assign year = 0 %}

{% for article in articles %}

  {% assign articleYear = article.date2 | slice: 0, 4 %}

  {% if year != articleYear %}
    {% if articleYear == "2024" %}
      <a ID = "2024"> </a>
    {% endif %}
    {% if articleYear == "2023" %}
      <a ID = "2023"> </a>
    {% endif %}
    {% if articleYear == "2022" %}
      <a ID = "2022"> </a>
    {% endif %}
    {% if articleYear == "2021" %}
      <a ID = "2021"> </a>
    {% endif %}
    {% if articleYear == "2020" %}
      <a ID = "2020"> </a>
    {% endif %}
    {% if articleYear == "2019" %}
      <a ID = "2019"> </a>
    {% endif %}
    {% if articleYear == "2018" %}
      <a ID = "2018"> </a>
    {% endif %}
    {% if articleYear == "2017" %}
      <a ID = "2017"> </a>
    {% endif %}
    {% if articleYear == "2016" %}
      <a ID = "2016"> </a>
    {% endif %}
    {% if articleYear == "2015" %}
      <a ID = "2015"> </a>
    {% endif %}
    {% if articleYear == "2014" %}
      <a ID = "2014"> </a>
    {% endif %}
    {% if articleYear == "2013" %}
      <a ID = "2013"> </a>
    {% endif %}
    {% if articleYear == "2012" %}
      <a ID = "2012"> </a>
    {% endif %}

    <h1 style="text-decoration:underline;"> {{articleYear}} </h1>
  {% endif %}

  {% if date != article.date2 %}
    <h2>{{ article.date2 }}</h2>
  {% endif %}

  <h3>
    <a href="{{ article.url }}">
      {{ article.name }}
    </a>
  </h3>
  <h4> {{article.author}}</h4>
  <p>{{ article.content | markdownify }}</p>

  {% assign date = article.date2 %}
  {% assign year = articleYear%}

{% endfor %}