---
title: Artikel
layout: single
permalink: /artikel/
header:
  overlay_image: /images/header/site-header-flat.png
toc: true
toc_label: Jahre
---

{% assign articles = site.articles | sort: 'date2' | reverse %}
{% assign date = 0 %}
{% for article in articles %}
  {% if date != article.date2 %}
    <h1>{{ article.date2 }}</h1>
  {% endif %}
  <h2>
    <a href="{{ article.url }}">
      {{ article.name }}
    </a>
  </h2>
  <h3> {{article.author}}</h3>
  <p>{{ article.content | markdownify }}</p>
  {% assign date = article.date2 %}
{% endfor %}

<!-- Idee: Posts-by-Tag Page verwenden, Artikel nach Tags ordnen... -->
