---
title: Kolumne - Req4Arcs
layout: single
permalink: /req4arcs/
header:
  overlay_image: /images/header/site-header-flat.png

sidebar:
  nav: "articles"
---
{% assign articles = site.posts | sort: 'date' | reverse %}
{% assign date = 0 %}
{% for article in articles %}
  {% assign beginning = article.name | slice: 0, 17 %}
  {% if beginning == "Kolumne: Req4Arcs" %}
    {% if date != article.date %}
      <h1>{{ article.date | slice: 0,7 }}</h1>
    {% endif %}
    <h2>
      <a href="{{ article.url }}"
         rel="noopener noreferrer nofollow"
         target="_blank">
        {{ article.name }}
      </a>
    </h2>
    <p>{{ article.excerpt | markdownify }}</p>
<hr>
    {% assign date = article.date2 %}
  {% endif %}
{% endfor %}