---
title: "Blogpost-Reihe: What's in a name"
layout: single
permalink: /whatsinaname/
header:
  overlay_image: /images/header/site-header-flat.png

sidebar:
  nav: "articles"
---
{% assign articles = site.posts | sort: 'date' | reverse %}
{% assign date = 0 %}
{% for article in articles %}
{% assign beginning = article.name | slice: 0, 27 %}
{% if beginning == "Blog-Post: What's in a name" %}
{% if date != article.date %}
<h1>{{ article.date | slice: 0,7 }}</h1>
{% endif %}
<h2>
    <a href="{{ article.url }}"
       rel="noopener noreferrer nofollow"
       target="_blank">
        {{ article.name }}
    </a>
</h2>
<p>{{ article.content | markdownify }}</p>
{% assign date = article.date2 %}
{% endif %}
{% endfor %}