/* special styles for Per Starke Web-Dev website */


/* define colors */
:root {
  --lightgrey-background: rgba(255, 255, 255, 0.15);
  --darker-lightgrey-background: rgba(255, 255, 255, 0.05);
  --default-skin-color: #00adb5;
  --light-skin-color: color-mix(in srgb, #00adb5, rgb(255,255,255));
}

div.about-box {
    margin: 30px;
    padding: 20px;
    background-color: rgba(0, 173, 181, 0.1);
    border-radius: 5px;
}

span.big-colorful-header {
    font-size: 1.3em;
    color: var(--default-skin-color);
    padding-bottom: 2px;
    border-bottom: 1px solid var(--default-skin-color);
}

.colorful-header {
    color: var(--default-skin-color);
}

.italic {
    font-style: italic;
}

h3.with-bottom-margin {
    margin-bottom: 15px;
}

span.side-header {
    color: var(--light-skin-color);
    font-size: 0.7em;
    display: inline-block;
}

div.references_bright{
    background-color: var(--lightgrey-background);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

div.references_dark{
    background-color: var(--darker-lightgrey-background);
    color: rgba(220, 220, 220);
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

hr.big-sep {
    border-top: 5px dashed grey
}

small.price {
    color: grey
}

/* Two boxes next to each other, with responsive design, for gallery */
div.grid-container {
  display: grid;
  grid-row-gap: 10px;
  grid-column-gap: 10px;
}

@media (min-width: 800px) {
  div.small-container { grid-template-columns: repeat(2, 1fr); }
}

.light_blue {
    background-color: var(--default-skin-color);
}

div.box {
  margin: 20px;
  padding: 20px;
}

img.max300 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid rgba(0,0,0,0);
    width: 50%;
    max-width:300px;
}

/**
Fade in elements on scroll
*/

.hide-for-fade-in {
  opacity: 0%;
  -webkit-transition: opacity 2.5s;
  -o-transition: opacity 2.5s;
  transition: opacity 2.5s;
}

.fade-in {
  opacity: 100%;
}