---
title: Artikel
layout: default
---

<h2> {{ page.name }}</h2>
<h6>Datum: {{ page.date2 }}</h6>
<h6> Tag: {{page.tag}} </h6>
<h6> Autor(en): {{page.author}} </h6>
<h6> Magazin: {{page.paper}} </h6>
{% unless page.link == false %}
    <h6> <a href="{{ page.link }}">
      > Hier online lesen <
    </a> </h6>
{% endunless %}

{% assign beginning = page.name | slice: 0, 15 %}
{% if beginning == "Kolumne: Knigge" %}
    <h6> <a href="/knigge/">
      > Weiter Artikel dieser Kolumne <
    </a> </h6>
{% endif %}

{% assign beginning = page.name | slice: 0, 17 %}
{% if beginning == "Kolumne: Rec4Arcs" %}
    <h6> <a href="/rec4arcs/">
      > Weiter Artikel dieser Kolumne <
    </a> </h6>
{% endif %}

{% assign beginning = page.name | slice: 0, 43 %}
{% if beginning == "Kolumne: Hitchhiker's Guide to Docs as Code" %}
    <h6> <a href="/docsAsCode/">
      > Weiter Artikel dieser Kolumne <
    </a> </h6>
{% endif %}

{{ content }}

