---
title: Artikel
layout: default
---

<h2> {{ page.name }}</h2>

{{ content }}

<hr>

<p> Erschienen {{ page.date2  | slice: 5, 7 }}-{{ page.date2  | slice: 0, 4 }} im {{page.paper}} </p>
<p> <b> Tag: </b> {{page.tag}} </p>
<p> <b> Autor(en): </b> {{page.author}} </p>

<hr>

{% unless page.link == false %}
    <p> <a href="{{ page.link }}">
      Hier online lesen
    </a> </p>
{% endunless %}

{% assign beginning = page.name | slice: 0, 15 %}
{% if beginning == "Kolumne: Knigge" %}
    <p> <a href="/knigge/">
      Weiter Artikel dieser Kolumne
    </a> </p>
{% endif %}

{% assign beginning = page.name | slice: 0, 17 %}
{% if beginning == "Kolumne: Req4Arcs" %}
    <p> <a href="/rec4arcs/">
      Weiter Artikel dieser Kolumne
    </a> </p>
{% endif %}

{% assign beginning = page.name | slice: 0, 43 %}
{% if beginning == "Kolumne: Hitchhiker's Guide to Docs as Code" %}
    <p> <a href="/docsAsCode/">
      Weiter Artikel dieser Kolumne
    </a> </p>
{% endif %}

